<h1>Home</h1>
<a href="http://localhost:8080/chat">Entra al Chat Magico!</a>

{{!-- El script de socket.io debe estar antes que home.js --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/api/public/js/home.socket.js"></script>